:root {
    --black-color: black;
    --white-color: white;
    --light-gray: #f8f9fa;
    --focus-color: #5D50E6;
    --button-color: #F3D433;
    --add-text-button-hover: #6EEF86;
    --add-text-button-hover-text: white;
}

.text-editor-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 18px;
    border: 3px solid var(--black-color);
    background-color: var(--white-color);
    border-radius: 20px;
    box-shadow: 5px 5px var(--black-color);
    font-size: 1.3em;
    max-width: 500px;
}

.text-editor {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--light-gray);
    padding: 24px;
    border-radius: 20px;
    border: 3px solid var(--black-color);
    max-width: 500px;
}

.text-editor select,
.text-editor input[type="text"],
.text-editor input[type="color"],
.text-editor input[type="range"] {
    padding: 8px;
    border: 2px solid var(--black-color);
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.text-editor input[type="color"] {
    padding: 0;
    height: 40px;
}

.text-editor input[type="range"] {
    width: 100%;
    accent-color: var(--focus-color);
}

.text-editor select {
    background-color: var(--white-color);
    cursor: pointer;
}

.text-editor select:focus,
.text-editor input[type="text"]:focus,
.text-editor input[type="range"]:focus,
.text-editor input[type="color"]:focus {
    outline: none;
    border: 3px solid var(--focus-color);
}

.add-text {
    font-size: 1em;
    font-family: 'Roboto';
    font-weight: 600;
    background-color: var(--button-color);
    border: 3px solid var(--black-color);
    border-radius: 20px;
    padding: 10px 25px;
    cursor: pointer;
    transition: 0.5s ease-in;
}

.add-text:hover {
    background-color: var(--add-text-button-hover);
    color: var(--add-text-button-hover-text);
}

@media (min-width: 1024px) {
    .text-editor-wrapper {
        flex: 1 1 20%;
    }

    .text-editor-wrapper {
        padding: 32px;
    }
}

@media (min-width: 1440px) { 
    .text-editor-wrapper {
        flex: unset;
    }
}