:root {
    --black-color: black;
    --white-color: white;
}

.canvas-wrapper canvas {
    max-height: 80vh;
    width: 100%;
    border-radius: 20px;
    border: 3px solid var(--black-color);
    box-shadow: 5px 5px var(--black-color);
    background-color: var(--white-color);
}

@media (min-width: 1024px) {
    .canvas-wrapper {
        flex: 1 1 40%;
    }

    .canvas-wrapper canvas {
        max-width: 600px;
    }
}

@media (min-width: 1440px) {
    .canvas-wrapper {
        flex: unset;
    }

    .canvas-wrapper canvas {
        max-width: 750px;
    }
}